html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Din Regular";
  src: url("src/fonts/DIN-Regular.eot");
  src: url("src/fonts/DIN-Regular.eot") format("embedded-opentype"), url("src/fonts/DIN-Regular.woff2") format("woff2"), url("src/fonts/DIN-Regular.woff") format("woff"), url("src/fonts/DIN-Regular.ttf") format("truetype"), url("src/fonts/DIN-Regular.svg#DINRegular") format("svg");
}
@font-face {
  font-family: "Din Bold";
  src: url("src/fonts/DIN-Black.eot");
  src: url("src/fonts/DIN-Black.eot") format("embedded-opentype"), url("src/fonts/DIN-Black.woff2") format("woff2"), url("src/fonts/DIN-Black.woff") format("woff"), url("src/fonts/DIN-Black.ttf") format("truetype"), url("src/fonts/DIN-Black.svg#DINRegular") format("svg");
}
body {
  font-family: "Din Regular";
}

.highlight, .title, .level {
  font-family: "Din Bold";
}

.background--white {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.background--orange {
  background-color: #FF4C00;
  color: #FFFFFF;
}
.background--black {
  background-color: #000000;
  color: #FFFFFF;
}
.background--red {
  background-color: #FF2C00;
  color: #FFFFFF;
}
.background--blue {
  background-color: #0050CC;
  color: #FFFFFF;
}
.background--green {
  background-color: #03D1AA;
  color: #FFFFFF;
}

.level {
  font-size: 44px;
  font-size: 4.4rem;
}

.highlight {
  font-size: 30px;
  font-size: 3rem;
  padding: 2rem;
}

.title {
  font-size: 20px;
  font-size: 2rem;
}

p, ul, li, a {
  font-size: 18px;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #FFFFFF;
}

a.button, button, .button {
  border: 1px solid transparent;
  padding: 30px 0 10px;
  text-align: center;
  width: 200px;
}
a.button--black, button--black, .button--black {
  background-color: #000000;
  color: #FFFFFF;
}
a.button--transparent, button--transparent, .button--transparent {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Din Bold";
  height: 50px;
  padding: 9px 0 5px 0;
  text-align: center;
  width: 200px;
}
a.button--large, button--large, .button--large {
  font-family: "Din Bold";
}
a.button--large a, button--large a, .button--large a {
  font-size: 20px;
  font-size: 2rem;
  color: #FFFFFF;
  margin: 0 auto;
}
a.button--large i, button--large i, .button--large i {
  font-size: 15px;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

form {
  color: #B3B3B3;
  font-family: "Din Regular";
}
form input, form select, form option {
  font-size: 14px;
  font-size: 1.4rem;
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 20px 10px 15px;
  width: 100%;
}
form button, form a {
  cursor: pointer !important;
}
form select {
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right transparent;
  background-origin: content-box;
  -webkit-appearance: none;
  color: #A4A4A4;
  font-family: "Din Regular";
}

.radio-toolbar {
  margin: 10px 10px 25px 0;
  padding-left: 30px;
  padding-right: 30px;
}

.radio-toolbar input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 8px 11px 4px 11px;
  border: 1px solid #B3B3B3;
  border-radius: 100px;
  margin-right: 8px;
}

.radio-toolbar label:hover {
  background-color: #B3B3B3;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}

.radio-toolbar input[type=radio]:checked + label {
  background-color: #B3B3B3;
  border-color: transparent;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}

.radio-toolbar.radio--red label:hover {
  background-color: #FF2C00;
}

.radio-toolbar.radio--red input[type=radio]:checked + label {
  background-color: #FF2C00;
}

.radio-toolbar.radio--blue label:hover {
  background-color: #0050CC;
}

.radio-toolbar.radio--blue input[type=radio]:checked + label {
  background-color: #0050CC;
}

.radio-toolbar.radio--green label:hover {
  background-color: #03D1AA;
}

.radio-toolbar.radio--green input[type=radio]:checked + label {
  background-color: #03D1AA;
}

.modal {
  background-color: #FFFFFF;
  max-width: 85% !important;
  right: 0 !important;
  left: initial !important;
}
.modal-backdrop {
  background: transparent !important;
}
.modal-content {
  border: none;
  margin-top: 25px 0;
  padding: 40px 75px;
}
.modal-header {
  border: none;
}
.modal-header .title {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Din Bold";
  margin: 30px 0 25px;
}
.modal-header .subtitle {
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 5px;
}
.modal-body {
  padding: 25px 0;
}
.modal-footer {
  border: none;
}
.modal-footer .terms-of-use {
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: 20px;
}
.modal .button--black {
  padding-bottom: 15px;
}

.page-intro .title {
  padding: 45px 40px 20px 40px;
}
.page-intro .text {
  padding: 0 40px;
}
.page-intro .introduction {
  height: 267px;
}
.page-intro .sidebar {
  margin-top: 0;
}
.page-intro .sidebar .title {
  margin-bottom: 46px;
}

.result-container {
  padding: 25px 45px 50px 45px;
}
.result-header {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 28px;
}
.result-header .title {
  font-size: 36px;
  font-size: 3.6rem;
  color: #000000;
  font-family: "Din Bold";
}
.result-header .medium {
  font-size: 14px;
  font-size: 1.4rem;
  align-self: center;
  color: #000000;
  font-family: "Din Bold";
  line-height: 1.4rem;
  width: 50px;
}
.result-header .medium-value {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Din Bold";
  margin: -10px 0 0 20px;
}
.result-content {
  margin-top: 40px;
}
.result-content .title {
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
  font-family: "Din Bold";
  padding-bottom: 10px;
}
.result-content .highlight {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Din Bold";
  padding: 0;
  margin-bottom: 20px;
}
.result-content p {
  font-size: 24px;
  font-size: 2.4rem;
}
.result-footer {
  border-top: 1px solid #FFFFFF;
  margin-top: 70px;
  padding: 60px 0 40px;
}
.result-footer .svg-logo {
  display: block;
  float: left;
  margin-right: 20px;
}

.page-quiz.sidebar {
  margin-top: 70px;
}
.page-quiz.sidebar .title {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 100px;
}
.page-quiz .header {
  padding: 20px 30px 0 30px;
}
.page-quiz .header .number {
  font-size: 44px;
  font-size: 4.4rem;
  display: inline-block;
  font-family: "Din Bold";
  margin-right: 20px;
}
.page-quiz .header .title {
  display: inline-block;
  font-family: "Din Bold";
}
.page-quiz .header .explaining {
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  margin-top: 30px;
}
.page-quiz .question {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.page-quiz-first .sidebar, .page-quiz-second .sidebar, .page-quiz-third .sidebar {
  margin: 0;
}
.page-quiz-first .sidebar .title, .page-quiz-second .sidebar .title, .page-quiz-third .sidebar .title {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.page-quiz-first .sidebar .content, .page-quiz-second .sidebar .content, .page-quiz-third .sidebar .content {
  height: 167px;
}
.page-quiz-first .header {
  height: 218px;
}
.page-quiz-second .header {
  height: 152px;
}
.page-quiz-third .header {
  height: 86px;
}

.hidden-text {
  text-indent: -99999rem;
}

.v-middle {
  align-items: center;
  display: flex;
  min-height: 100%;
  min-height: 100vh;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.m-auto {
  margin: 0 auto;
}

.gradient {
  background: linear-gradient(270deg, rgba(179, 179, 179, 0.5) 0%, rgba(196, 196, 196, 0) 50%);
  min-height: 100%;
  min-height: 100vh;
}

.border-radius-bottom {
  border-bottom-right-radius: 5rem;
}

.border-radius-top {
  border-top-left-radius: 5rem;
}

.sidebar {
  margin-top: 195px;
  padding-bottom: 30px;
}
.sidebar .title {
  display: flex;
  margin-bottom: 53px;
  padding: 20px 30px;
}
.sidebar .title-large {
  margin-bottom: 100px;
}

/*# sourceMappingURL=style.css.map */
