.page-intro {

  .title {
    padding: 45px 40px 20px 40px;
  }

  .text {
    padding: 0 40px;
  }

  .introduction {
    height: 250px;
  }

  .sidebar {
    margin-top: 0;

    .title {
      margin-bottom: 64px;
    }
  }
}