.page-quiz {

  &.sidebar {
    margin-top: 70px;

    .title {
      @include font-size(1.8);
      margin-bottom: 100px;
    }
  }

  .header {
    padding: 20px 30px 0 30px;

    .number {
      @include font-size(4.4);
      display: inline-block;
      font-family: 'Din Bold';
      margin-right: 20px;
    }

    .title {
      display: inline-block;
      font-family: 'Din Bold';
    }

    .explaining {
      @include font-size(1.4);
      display: block;
      margin-top: 30px;
    }
  }

  .question {
    @include font-size(1.2);
    font-weight: 700;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  &-first, &-second, &-third {
    .sidebar {
      margin: 0;

      .title {
        @include font-size(1.8);
        margin-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
      }

      .content {
        height: 182px;
      }
    }
  }

  &-first .header {
    height: 218px;
  }
  &-second .header {
    height: 152px;
  }
  &-third .header {
    height: 86px;
  }
}